<% content_for :title, "Balance" %>

  <div class="text-center">
    <h2>Balance Año <%= session[:selected_year] %></h2>
  </div>

  <h4 class="text-start">
    Saldo inicial
    <%= formato_monto(@balance_inicial || 0) %>
  </h4>

  <% acumulado = @balance_inicial || 0 %>

  <% if @balance_data.present? %>

    <% @balance_data.each do |data| %>
    <% mes = data[:mes] %>

    <div class="fw-bold text-dark">
      <h4><%= l(mes, format: "%B %Y").capitalize %></h4></td>
    </div> 

    <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th>FECHA</th>
          <th>COMENTARIO</th>
          <th>TIPO </th>
          <th class="text-end">INGRESO</th>
          <th class="text-end">EGRESO</th>
        </tr>
      </thead>
      <tbody>
        <% data[:registros].each do |r| %>
          <tr class="<%= r.is_a?(Bill) ? 'text-danger' : 'text-dark' %>">
            <td><%= r.date.strftime("%d-%m-%Y") %></td>
            <td>
              <% if r.is_a?(Deposit) && r.apartment.present? %>
                <%= r.comment %>
              <% else %>
                <%= r.comment.presence || (r.is_a?(Bill) ? "Egreso" : "Ingreso") %>
              <% end %>
            </td>
            <td>
              <% if r.is_a?(Deposit) && r.apartment.present? %>
                <% if r.tipo_ingreso == "ingreso_comun" %>
                  <%= r.apartment.number %>  - <%= tipo_ingreso_humano(r.tipo_ingreso) %> - <%= Constants::MONTHS_NAMES[r.mes - 1] %>/<%= r.ano%>
                <% else %>
                  <%= r.apartment.number %> - <%= tipo_ingreso_humano(r.tipo_ingreso) %>
                <% end %>
              <% else %>
                <%= tipo_egreso_humano(r.tipo_egreso) %>
              <% end %>
            </td>
            <% if r.is_a?(Bill)  || r.amount.negative? %>
              <td>&nbsp;</td>
            <% end %>
            <td class="text-end <%= 'text-danger' if r.is_a?(Bill) || r.amount.negative? %>">
              <%= number_to_currency(r.is_a?(Bill) ? -r.amount : r.amount, unit: "$", delimiter: ".", precision: 0, format: "%u%n") %>
            </td>
          </tr>
        <% end %>

        <!-- Totales del mes -->
        <tr class="fw-bold">
          <td colspan="3" class="border-0 text-end">Total ingresos</td>
          <td class="text-end"><%= formato_monto(data[:ingresos]) %></td>
        </tr>
        <tr class="fw-bold">
          <td colspan="3" class="border-0 text-end">Total egresos</td>
          <td>&nbsp;</td>
          <td class="text-end"><%= formato_monto(-data[:egresos]) %></td>
        </tr>
        <tr class="fw-bold">
          <td colspan="3" class="border-0 text-end">Balance del mes</td>
          <td>&nbsp;</td>
          <td class="text-end"><%= formato_monto(data[:ingresos] - data[:egresos]) %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <% acumulado += data[:ingresos] - data[:egresos] %>

  <% end %>

  <!-- Total general al final de todo -->
  <div class="mt-5">
    <h4>
      BALANCE ANUAL 
      <span class="<%= acumulado.negative? ? 'text-danger' : '' %>">
        <%= number_to_currency(acumulado, unit: "$", delimiter: ".", precision: 0, format: "%u%n") %>
      </span>
    </h4>
  </div>

  <% else %>
    <tr><td colspan="4">No hay movimientos registrados para este año.</td></tr>
  <% end %>

