<div class="mb-3 text-left border rounded-2 border-2">

  <div class="my-2 ps-2 d-flex">
    <div class="col-4 col-md-2 col-lg-1"><strong> <%= current_user.type_community.capitalize %> </strong></div> &nbsp;<%= @apartment.number %>
  </div>

  <div class="my-2 ps-2 d-flex">
    <div class="col-4 col-md-2 col-lg-1"><strong>Descripción</strong></div> &nbsp;<%= @apartment.description %> 
  </div>

</div>

<div class="mt-2 d-flex align-items-center">
  <%= link_to   "Editar",   edit_apartment_path(@apartment), class: "me-3 col-4 col-sm-3 col-md-2 col-lg-1 btn btn-warning" %>
  <%= button_to "Eliminar", @apartment, method: :delete, class: "btn btn-danger" %>
</div>

<div class="py-2">
  <%= link_to "Regresar", apartments_path, class: "col-4 col-sm-3 col-md-2 col-lg-1 btn btn-light border border-2" %>
</div>
<br>

<br>
<!-- Modal de confirmación -->
    <div class="modal fade"
         id="confirmDeleteModal"
         tabindex="-1"
         aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true"
         data-confirm-delete-modal-target="modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirma eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de querer eliminar este registro?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button"
                    class="btn btn-danger"
                    data-confirm-delete-modal-target="confirm"
                    data-action="click->confirm-delete-modal#confirmDelete">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>